<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.micol.prj.member.map.MemberMapper">

	<select id="memberSelectList"
		resultType="co.micol.prj.member.service.MemberVO">
		SELECT * FROM MEMBER
	</select>
<!-- 멤버아이디만 하면 앞만 처리(조회만됨)하고 비밀번호도있으면 뒤가 실행됨(로그인이 실시될수있게 동적 시퀄) 
memberPassword이 널이 아니면 로그인을 실시함. 로그인이나 한행 조회나 결과는 같음 -->
	<select id="memberSelect"
		resultType="co.micol.prj.member.service.MemberVO">
		SELECT * FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
		<if test="memberPassword != null">AND MEMBER_PASSWORD = #{memberPassword}</if>
	</select>
	
	<insert id="memberInsert"
		parameterType="co.micol.prj.member.service.MemberVO">
		INSERT INTO MEMBER
		VALUES(#{memberId},#{memberName},#{memberPassword},#{memberAge},#{memberAddress},
		#{memberTell},#{memberAuthor})
	</insert>

	<delete id="memberDelete"
		parameterType="co.micol.prj.member.service.MemberVO">
		DELETE FROM MEMBER WHERE MEMBER_id = #{memberId}
	</delete>
		<!-- 패스워드 , 주소, 연락처, 권한 수정가능 
		set if 를 통해서 동적으로 들어오는 값만 수정 가능하도록함 test에는 vo객체를 그대로 적어줘야함 -->
	<update id="memberUpdate">
		UPDATE MEMBER
		<set>
		<if test="memberName != null">MEMBER_NAME = #{memberName},</if>
		<if test="memberPassword != null">MEMBER_PASSWORD = #{memberPassword},</if>
		<if test="memberAge != null">MEMBER_AGE = #{memberAge},</if>
		<if test="memberAddress != null">MEMBER_ADDRESS = #{memberAddress},</if>
		<if test="memberTell != null">MEMBER_TELL = #{memberTell},</if>
		<if test="memberAuthor != null">MEMBER_AUTHOR = #{memberAuthor}</if>
		</set>
		WHERE MEMBER_ID = #{memberId}
	</update>

	<!-- 아이디체크는 select 결과가 0이면 false 1이면 true -->
	<select id="isIdCheck" resultType="boolean">
		SELECT CASE WHEN COUNT(MEMBER_ID) = 1 THEN 0 ELSE 1 END AS ID
		FROM MEMBER
		WHERE MEMBER_ID = #{id}

	</select>

</mapper>